.LineGraphs-filter {
  color: #d7e1ee;
  margin: 1rem
}

.LineGraphs-filter button {
  margin-left: 0.5rem;
  height: 1.5rem;
  width: 4.5rem;
  border-radius: 10px;
  background-color: #d7e1ee;
}

.LineGraphs-filter button:hover {
  background-color: #93e6d3;
  cursor: pointer;
}